* { all: unset; }

tooltip {
  font-size: 2em;
  background-color: #7BB0DF;
  color: #24292E;
}

calendar {
  background: #0C0F12;
  font-size: 18px;
  padding: 2px 5px;

  &.view {
    background-color: #0C0F12;
  }

  &.button {
    background: #101317;
    border-radius: 50%;
    color: #3D464E;

    &:hover {
      color: #71C0BA;
    }

    &:disabled {
      color: #12161B;
    }
  }

  &.header {
    background-color: #101317;
    border-radius: 0 0 0.3em 0.3em;
  }

  &.highlight {
    color: #3D464E;
  }

  &:selected {
    color: #3D464E;
    background: #7BB0DF;
    border-radius: 0.2em;
  }

  &:indeterminate {
    color: #24292E;
  }
}
